@model List<Pacer.Web.Models.TrainingPlan.WeekDistance>

<div class="container">
    <canvas id="weekDistancesChart" aria-label="Line chart showing weekly distances" role="img" height="100" width="300"></canvas>
    <h2>Week Distances</h2>
    <table class="table" aria-labelledby="weekDistancesTitle">
        <thead>
            <tr>
                <th>Week Number</th>
                <th>Target Distance</th>
                <th>Actual Distance Ran</th>
                <th>% Complete</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].TargetDistance miles</td>
                    <td>@Model[i].ActualDistance miles</td>
                    <td>@((Model[i].ActualDistance / Model[i].TargetDistance *
                            100).ToString("0.0"))%</td>
                </tr>
            }
        </tbody>

    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('weekDistancesChart').getContext('2d');

    var weekNumbers = @Html.Raw(Json.Serialize(Model.Select((_, index) => index + 1)));
    var targetDistances = @Html.Raw(Json.Serialize(Model.Select(w => w.TargetDistance)));
    var actualDistances = @Html.Raw(Json.Serialize(Model.Select(w => w.ActualDistance)));


    new Chart(ctx, {
        type: 'line',
        data: {
            labels: weekNumbers,
            datasets: [{
                label: 'Target Mileage ',
                data: targetDistances,
                borderColor: 'rgba(0, 123, 255, 1)',
                backgroundColor: 'rgba(0, 123, 255, 0.5)',
                fill: false,
            }, {
                label: 'Actual Mileage Ran',
                data: actualDistances,
                borderColor: 'rgba(255, 0, 0, 1)',
                backgroundColor: 'rgba(255, 0, 0, 0.5)',
                fill: false,
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Weekly Distances'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                x: {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Week'
                    }
                },
                y: {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Distance (miles)'
                    }
                }
            }
        }
    });
</script>