@using Pacer.Web;

<hr class="custom-hr">
<h1 class="my-3 mx-auto">@Model.TargetTime @Model.TargetRaceDisplayName Training Plan 
    @await Component.InvokeAsync("Tooltip", new { key = "TrainingPlan"})</h1>
<h2 class="mx-auto"><a href="@Url.Action("EditTargetTime", new { id = Model.Id })" class="btn btn-warning">
        <i class="bi bi-clock-fill" aria-hidden="true"></i> Edit Target Time</a>
    <a href="@Url.Action("DeleteTrainingPlan", new { id = Model.Id })" class="btn btn-danger">
        <i class="bi bi-trash-fill" aria-hidden="true"></i> Delete Training Plan</a>
    <a href="@Url.Action("Tutorial", new { id = Model.Id })" class="btn btn-secondary">
        <i class="bi bi-lightbulb-fill" aria-hidden="true"></i> Understanding Your Workouts</a></h2>
