@model EditTargetTimeViewModel

<div class="card shadow p-4 mt-4 mx-auto w-75">
    <h3 class="text-center my-3">Edit Target Time for @Model.TargetTime.ToString(@"h\:mm")
        @Model.TargetRace.GetDisplayName()</h3>
    <form method="post" action="/EditTargetTime" role="form">
        <input type="hidden" name="TrainingPlanId" value="@Model.TrainingPlanId" />

        <div class="form-group mt-3 p-3">
            <label for="targetTime" aria-label="New Target Time">New Target Time:</label>
            <input class="form-control" type="range" id="targetTime" min="60" max="360"
                value="@((int)Model.TargetTime.TotalMinutes)" oninput="displayTime(this.value)" 
                aria-label="Target Time Slider"/>
            <span id="targetTimeDisplay" aria-label="Displayed Target Time">@Model.TargetTime.ToString("h\\:mm")</span>
        </div>

        <input type="hidden" asp-for="TargetTime" id="hiddenTargetTime" />

        <div class="alert alert-warning mt-4" role="alert">
            <p>Are you sure you would like to edit your target time?</p>
            <hr>
            <p class="mb-0">Your target paces will be updated, and all previously saved workouts will remain.</p>
        </div>

        <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-primary btn-block" aria-label="Save Changes">Save</button>
        </div>
    </form>
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
        function displayTime(minutes) {
            // Convert the minutes into a TimeSpan or similar format
            var hours = Math.floor(minutes / 60);
            minutes %= 60;
            var timeString = hours + ":" + (minutes < 10 ? "0" : "") + minutes;

            // Display the time in your span
            document.getElementById('targetTimeDisplay').textContent = timeString;

            // Set the value of the hidden input
            document.getElementById('hiddenTargetTime').value = timeString;
        }
    function updateTargetTime() {
        var targetTimeSlider = document.getElementById('targetTime');
        var raceType = '@Model.TargetRace.ToString()';

        if (raceType === 'Marathon' || raceType === 'BMarathon') {
            targetTimeSlider.min = 125;
            targetTimeSlider.max = 300;
        } else if (raceType === 'HalfMarathon' || raceType === 'BHalfMarathon') {
            targetTimeSlider.min = 60;
            targetTimeSlider.max = 150;
        }
        displayTime(targetTimeSlider.value);
    }
    updateTargetTime();

</script>
