@model TrainingPlanViewModel

<div id="training-plan" class="card shadow p-5 mt-4 mx-auto w-75">
    <div class="position-absolute top-0 start-50 translate-middle rounded-circle bg-dark">
        <img src="\images\LogoTrimWIP.png" height="50px">
    </div>
    <a href="@Url.Action("Calendar")" class="btn btn-info">
        <i class="bi bi-calendar"></i> Calendar View</a>
    <partial name="_TrainingPlanHeader" model="Model" />


    @for (int i = 0; i < Model.Weeks.Count; i++)
    {
        var week = Model.Weeks[i];

        <h3>Week @week.WeekNumber</h3>
        <ul class="list-group mb-3">
            @foreach (var workout in week.Workouts)
            {
                <li class="list-group-item @(workout.ActualDistance > 0 ? "completed-workout" : "")">
                    <div class="row">
                        <h5>@workout.Date.ToString("D")</h5>
                        <hr style="border-top: 1px solid #ccc;">
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <h4 class="text-bold" style="margin-right: 10px;">@workout.Type.GetDisplayName() </h4>
                                @await Component.InvokeAsync("Tooltip", new { key = workout.Type.ToString() })
                            </div>

                            <h6><p>Distance: @workout.TargetDistance miles</p>
                            <p>Target Pace: @workout.TargetPace per mile</p>
                            <p>@workout.WorkoutDescription</p></h6>
                        </div>

                        @if (workout.ActualDistance > 0)
                        {
                            <div class="col-md-4">
                                <div id="previous-results-@workout.Id">
                                    <h4>Workout Complete</h4>
                                    <p id="prev-distance-@workout.Id">Distance Ran: @workout.ActualDistance miles</p>
                                    <p id="prev-time-@workout.Id">Duration: @workout.ActualTime</p>
                                    <p id="prev-pace-@workout.Id">Pace: @workout.ActualPace min/mile</p>
                                    <form method="post" action="@Url.Action("ClearWorkoutActuals", "TrainingPlan")"
                                        onsubmit="return confirmClear();">
                                        <input type="hidden" name="WorkoutId" value="@workout.Id" />
                                        <input type="hidden" name="returnUrl" value="ViewTrainingPlan" />
                                        <button type="submit">Clear</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <img src="/images/GreenTick.png" width="100%" alt="Green Tick" />
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6" style="padding-top: 20px;">
                                <form id="entry-form-@workout.Id" method="post"
                                    action="@Url.Action("SaveWorkoutActuals", "TrainingPlan")"
                                    onsubmit="return validateDistance(@workout.Id)">
                                    <input type="hidden" name="WorkoutId" value="@workout.Id" />
                                    <input type="hidden" name="returnUrl" value="ViewTrainingPlan" />
                                    <div class="mb-1">
                                        <label for="actualDistance-@workout.Id"><b>Actual Distance Ran:</b></label>
                                        <input type="number" id="actualDistance-@workout.Id" name="ActualDistance"
                                            value=@workout.TargetDistance min="0" max="50" required> miles
                                    </div>
                                    <div>
                                        <label for="actualTime-@workout.Id"><b>Actual Duration:</b></label>
                                        <div style="display: flex; justify-content: space-between; max-width: 200px;">
                                            <div>
                                                <label for="actualHours-@workout.Id">Hours:</label>
                                                <input type="number" id="actualHours-@workout.Id" name="ActualHours" min="0"
                                                    max="10" required value="0">
                                            </div>
                                            <div>
                                                <label for="actualMinutes-@workout.Id">Minutes:</label>
                                                <input type="number" id="actualMinutes-@workout.Id" name="ActualMinutes" min="0"
                                                    max="59" required value="0">
                                            </div>
                                            <div>
                                                <label for="actualSeconds-@workout.Id">Seconds:</label>
                                                <input type="number" id="actualSeconds-@workout.Id" name="ActualSeconds" min="0"
                                                    max="59" required value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit">Save</button>
                                </form>
                            </div>
                        }
                    </div>
                </li>
            }
        </ul>
    }
    <!-- Race Day Card -->
    <div id="race-day-card" class="card shadow p-4 mt-5 mx-auto w-75">
        <div class="position-absolute top-0 start-50 translate-middle p-2">
            <img src="/images/race-day-gold-star.png" alt="Star" height="50" z-index: 100; />
        </div>

        <h3 class="my-3 mx-auto">Race Day!</h3>

        <div class="list-group-item text-center">
            <div class="row justify-content-center">
                <div class>
                    <h3>@Model.TargetTime @Model.TargetRace</h3>
                    <p>Today is the day! Good luck!</p>
                    <p>Run the @Model.TargetRace at
                        @Model.TargetPace.</p>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    function confirmClear() {
        return confirm('Are you sure you want to clear this run?');
    }
</script>
<script>
    function validateDistance(workoutId) {
        var distanceField = document.getElementById("actualDistance-" + workoutId);
        if (distanceField.value == 0) {
            alert('Actual distance ran must be greater than zero.');
            distanceField.focus();
            return false;
        }
        return true;
    }
</script>