@model RunningProfileViewModel
<div class="card shadow p-4 mt-4 mx-auto w-75">
    <div class="position-absolute top-0 start-50 translate-middle rounded-circle bg-dark">
        <img src="\images\LogoTrimWIP.png" height="50px">
    </div>
    <h1 class="mx-auto">@Model.UserName's Running Profile</h1>
    <hr style="border-top: 5px solid #ccc;">
    <div class="mt-3">
        <h4 class="form-label"><i class="bi-calendar3"></i> Age: @Model.Age</h4>
    </div>

    <div class="mt-3">
        <h4 class="form-label"><i class="bi-gender-ambiguous"></i> Gender: @Model.Gender</h4>
    </div>

    <div class="mt-3">
        <h4 class="form-label"><i class="bi-speedometer2"></i> Weekly Mileage: @Model.WeeklyMileage miles per week</h4>
    </div>

    <div class="mt-3" style="display: flex; align-items: center;">
        <h4 class="form-label"><i class="bi-stopwatch-fill"></i> 5K Time: @Model.FiveKTimeFormatted </h4>

    </div>

    <hr style="border-top: 5px solid #ccc;">

    <div class="mt-3">
        <a href="@Url.Action("EditProfile", new { userId = Model.UserId })" class="btn btn-primary">Edit Profile</a>
    </div>
</div>